.box div {
    display: flex;
    align-items: center;
    gap: 2px;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.box div::after {
    content: "";
    width: 8px;
    height: 50px;
    background: rgb(1, 103, 158);
    display: inline-block;
    animation: cursor-blink 0.5s steps(2) infinite;
}

.bigSize{
    font-size: 34px;
    font-weight: bolder;
}
.image {
    display: none;
}
@media screen and (min-width: 992px) {
    .bigSize{
        font-size: 50px;
        font-weight: bolder;
    }
    .image{
        display: inline;
    }
}
@media screen and (min-width: 576px) {
    .bigSize{
        font-size: 42px;
        font-weight: bolder;
    }
}
@media screen and (min-width: 762px) {
    .bigSize{
        font-size: 48px;
        font-weight: bolder;
    }
}

#home{
    background-image: url(../src/images/cloudBg.png);
    height: 680px;
    background-repeat: no-repeat;
}
#home1{
    background-image: url(../src/images/cloudDark.png);
    height: 680px;
    background-repeat: no-repeat;
}

p{
    font-family: 'Times New Roman', Times, serif;
}